.header-area {
    .hamburger-menu {
        position: relative;
        float: left;
        width: 34px;
        height: 27px;
        padding-top: 0;
        text-align: center;
        box-sizing: border-box;
        counter-increment: section;
        &:after {
            position: absolute;
            top: 1.5em;
            left: 1.5em;
            width: 40px;
            height: 40px;
            border: 1px solid #fff;
            color: #fff;
            font-size: 20px;
            text-align: center;
            line-height: 40px;
        }
        .hamburger-trigger {
            display: inline-block;
            transition: all .4s;
            box-sizing: border-box;
            position: relative;
            width: 34px;
            height: 27px;
            span {
                position: absolute;
                left: 0;
                width: 100%;
                height: 5px;
                background-color: #fff;
                border-radius: 0;
                display: inline-block;
                transition: all .4s;
                box-sizing: border-box;
                &:nth-of-type(1) {
                    top: 0;
                }
                &:nth-of-type(2) {
                    top: 11px;
                }
                &:nth-of-type(3) {
                    bottom: 0;
                }
            }
            &.active {
                span {
                    &:nth-of-type(1) {
                        -webkit-transform: translateY(11px) rotate(-45deg);
                        transform: translateY(11px) rotate(-45deg);
                    }
                    &:nth-of-type(2) {
                        opacity: 0;
                    }
                    &:nth-of-type(3) {
                        -webkit-transform: translateY(-11px) rotate(45deg);
                        transform: translateY(-11px) rotate(45deg);
                    }
                }
            }
        }
    }
}
