.job-header {
    figure {
        background: url("../../assets/image/header-background.jpg") no-repeat;
        background-size: cover;
        position: relative;
        padding: 65px 0;
        margin: 0;
        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.6);
        }
        // TODO: max-width 948px
        figcaption {
            position: relative;
            padding: 20px 200px;
            background-color: rgba(0, 0, 0, 0.5);
            width: auto;
            display: table;
            margin: 0 auto;
            text-align: center;
            color: #fff;
            z-index: 1;
            h1 {
                font-size: 70px;
            }
            h2 {
                font-size: 40px;
                margin-top: -20px;
            }
        }

    }
}
