<main class="col">
    <section class="row job-header">
        <figure class="col">
            <figcaption>
                <h1 class="font-yanone-bold">PURCHASING ASSISTANT</h1>
                <h2 class="font-yanone-regular">AMSTERDAM, THE NETHERLANDS</h2>
            </figcaption>
        </figure>
    </section>

    <app-job-application></app-job-application>

    <section class="row job-footer">
        <figure class="col">
            <figcaption class="job-application-info">
                <div class="row">
                    <div class="col-12 col-md-6 col-sm-6 application-procedure-area">
                        <h3 class="col-12 no-padding font-yanone-bold">APPLICATION PROCEDURE</h3>

                        <ul class="col">
                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                            <li>Morbi dapibus sem et magna porta, a cursus justo eleifend.</li>
                            <li>Mauris nec elit sed lacus viverra blandit at ut erat.</li>
                            <li>Aenean sollicitudin lacus vel sem convallis semper.</li>
                        </ul>
                    </div>

                    <div class="col-12 col-md-6 col-sm-6 question-area">
                        <h3 class="col-12 no-padding font-yanone-bold">GOT A QUESTION?</h3>

                        <p>Please contact recruitment</p>
                        <p class="no-margin">T. +31 20 123 456 78</p>
                        <p>Or <a href="">send us an email</a></p>
                    </div>

                    <a routerLink="/" class="continue-button cursor-pointer">
                        Continue reading
                    </a>
                </div>
            </figcaption>
        </figure>
    </section>
</main>
