.header-area {
    .navbar-collapse {
        .briefcase-area {
            position: relative;
            color: #d3d3d3;
            &:hover {
                color: #fff;
                &:after {
                    display: block;
                }
            }
            &:before {
                font-size: 16px;
            }
            .job-count {
                font-size: 11px;
            }
            &:after {
                display: none;
                content: attr(aria-label);
                position: absolute;
                margin-top: 4px;
                top: 100%;
                right: 50%;
                z-index: 1;
                padding: 5px 10px;
                background: #ffffff;
                box-shadow: 0 0px 5px 0px rgba(0, 0, 0, 0.35);
                color: #000000;
                font-size: 10px;
                white-space: nowrap;
                pointer-events: none;
                -webkit-transform: translateX(50%);
                -moz-transform: translateX(50%);
                -ms-transform: translateX(50%);
                -o-transform: translateX(50%);
                transform: translateX(50%);
            }
        }
    }
}
