@media only screen and (max-width: 1049px) {
    .header-area .navbar-brand {
        margin-right: 1em !important;
    }
}

@media only screen and (max-width: 991px) {
    .d-none-lgt-sm {
        display: none!important;
    }
    .header-area {
        min-height: 94px !important;
        padding: 0 !important;
    }
    .mobile-menu-area.d-none {
        display: block !important;
        min-height: 94px;
    }
    .mobile-menu-content {
        min-height: 45px;
    }
    .header-area .navbar-brand {
        position: absolute;
        left: 70px;
    }
    .briefcase-area {
        position: absolute;
        right: 45px;
        top: 15px;
    }
    .navbar-collapse .search-area {
        display: none !important;
    }
    .search-area {
        &:after {
            right: 18px!important;
        }
    }
}

@media only screen and (min-width: 320px) and (max-width: 813px) {
    .d-none-lt-sm {
        display: none !important;
    }
    .footer-area {
        article {
            padding-left: 15px !important;
            padding-right: 15px !important;
        }
        section {
            margin-top: 10px !important;
        }
    }
    .footer-bottom-area {
        p {
            padding-left: 15px !important;
            padding-right: 15px !important;
        }
    }
    .job-header {
        figure {
            padding: 40px 0 !important;
            figcaption {
                max-width: 80% !important;;
            }
            h1 {
                font-size: 34px !important;;
            }
            h2 {
                font-size: 21px !important;;
                margin-top: -10px !important;;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    section {
        float: none;
        width: auto;
    }
}
