<section class="row">
    <div class="col job-application-area">
        <div class="job-form">
            <h2 class="font-yanone-bold">APPLY FOR THE POSITION OF PURCHASING ASSISTANT</h2>
            <form
                (ngSubmit)="onSubmit()"
                #f="ngForm"
                class="application-details">
                <section
                    id="userDetails"
                    ngModelGroup="personalData"
                    #personalData="ngModelGroup"
                    class="row mb-20px">
                    <p class="col-12 mb-20px info-text">Personal Details *</p>

                    <div class="col-12">
                        <div class="row">
                            <div class="form-group mb-20px col-12 col-md-6">
                                <input
                                    type="text"
                                    class="form-control"
                                    ngModel=""
                                    name="firstName"
                                    placeholder="First name"
                                    minlength="2"
                                    tabindex="1"
                                    aria-required="true"
                                    required
                                    #firstName="ngModel">

                                <span
                                    *ngIf="firstName.valid && firstName.touched"
                                    class="e-icon-ok valid-checkmark"></span>
                            </div>

                            <div class="form-group mb-20px col-12 col-md-6">
                                <input
                                    type="text"
                                    class="form-control"
                                    ngModel=""
                                    name="lastName"
                                    placeholder="Last name"
                                    minlength="2"
                                    tabindex="2"
                                    aria-required="true"
                                    required
                                    lastName
                                    #lastName="ngModel">

                                <span
                                    *ngIf="lastName.valid && lastName.touched"
                                    class="e-icon-ok valid-checkmark"></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="row">
                            <div class="form-group mb-20px col-12 col-md-6">
                                <input
                                    class="form-control date-picker"
                                    name="birthDate"
                                    ngModel
                                    tabindex="3"
                                    placeholder="Date of birth (DD.MM.YYYY)"
                                    #dateOfBirth="ngModel"
                                    [dpDayPicker]="datePickerConfig"
                                    aria-required="true"
                                    required
                                    birthDate
                                    theme="dp-material">

                                <span
                                    *ngIf="dateOfBirth.valid && dateOfBirth.touched"
                                    class="e-icon-ok valid-checkmark"></span>
                            </div>

                            <div
                                class="form-group mb-20px col-12 col-md-6">
                                <div class="dropdown">
                                    <select
                                        class="custom-select select-gender"
                                        [(ngModel)]="genderModel"
                                        type="button"
                                        #gender="ngModel"
                                        required
                                        name="gender"
                                        tabindex="4">
                                        <option disabled selected value="Gender">Gender</option>
                                        <option value="Man">Man</option>
                                        <option value="Woman">Woman</option>
                                        <option value="Not to disclose">Not to disclose</option>
                                    </select>

                                    <span
                                        *ngIf="gender.valid && gender.dirty"
                                        class="e-icon-ok valid-checkmark"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="row">
                            <div class="form-group mb-20px col-12 col-md-6">
                                <input
                                    type="email"
                                    class="form-control"
                                    ngModel=""
                                    name="email"
                                    placeholder="Email"
                                    pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$"
                                    tabindex="5"
                                    aria-required="true"
                                    required
                                    email
                                    #email="ngModel">

                                <span
                                    *ngIf="email.valid && email.touched"
                                    class="e-icon-ok valid-checkmark"></span>
                            </div>

                            <div class="form-group mb-20px col-12 col-md-6">
                                <input
                                    type="tel"
                                    class="form-control"
                                    ngModel=""
                                    name="phone"
                                    placeholder="Phone number"
                                    tabindex="6"
                                    minlength="7"
                                    aria-required="true"
                                    required
                                    phone
                                    #phone="ngModel">

                                <span
                                    *ngIf="phone.valid && phone.touched"
                                    class="e-icon-ok valid-checkmark"></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="row">
                            <div class="form-group mb-20px col-12 col-md-6">
                                <input
                                    type="text"
                                    class="form-control"
                                    ngModel=""
                                    name="address"
                                    placeholder="Address"
                                    tabindex="7"
                                    aria-required="true"
                                    required
                                    address
                                    #address="ngModel">

                                <span
                                    *ngIf="address.valid && address.touched"
                                    class="e-icon-ok valid-checkmark"></span>
                            </div>

                            <div class="form-group mb-20px col-12 col-md-6">
                                <input
                                    type="tel"
                                    class="form-control"
                                    ngModel=""
                                    name="houseNumber"
                                    placeholder="House number"
                                    tabindex="8"
                                    aria-required="true"
                                    required
                                    houseNumber
                                    #houseNumber="ngModel">

                                <span
                                    *ngIf="houseNumber.valid && houseNumber.touched"
                                    class="e-icon-ok valid-checkmark"></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="row">
                            <div class="form-group mb-20px col-12 col-md-6">
                                <input
                                    type="text"
                                    class="form-control"
                                    ngModel=""
                                    name="zipCode"
                                    placeholder="Zip code"
                                    tabindex="9"
                                    pattern="^[1-9][0-9]{3} ?(?!sa|sd|ss)[a-z]{2}$"
                                    aria-required="true"
                                    required
                                    zipCode
                                    #zipCode="ngModel">

                                <span
                                    *ngIf="zipCode.valid && zipCode.touched"
                                    class="e-icon-ok valid-checkmark"></span>

                                <p
                                    *ngIf="!zipCode.valid && zipCode.touched"
                                    class="error-text">This is not a valid Dutch zip code!</p>
                            </div>

                            <div class="form-group mb-20px col-12 col-md-6">
                                <input
                                    type="text"
                                    class="form-control"
                                    ngModel=""
                                    name="country"
                                    placeholder="Country"
                                    tabindex="10"
                                    aria-required="true"
                                    required
                                    country
                                    #country="ngModel">

                                <span
                                    *ngIf="country.valid && country.touched"
                                    class="e-icon-ok valid-checkmark"></span>
                            </div>
                        </div>
                    </div>
                </section>

                <section
                    id="userFiles"
                    ngModelGroup="attachments"
                    #attachments="ngModelGroup"
                    class="row">

                    <div class="col-12 col-md-6">
                        <p class="col-12 mb-20px info-text no-padding">Your Motivation</p>

                        <div class="row">
                            <div class="form-group mb-20px col-12">
                                <textarea
                                    type="text"
                                    class="form-control"
                                    rows="6"
                                    ngModel=""
                                    name="motivation"
                                    placeholder="Motivation"
                                    tabindex="11"
                                    aria-required="true"
                                    required
                                    #motivation="ngModel"></textarea>

                                <span
                                    *ngIf="motivation.valid && motivation.touched"
                                    class="e-icon-ok valid-checkmark"></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 upload-area">
                        <p class="col-12 mb-20px info-text no-padding">
                            Attach your documents <small>(pdf, doc(x), jpg max. 4 Mb)</small>
                        </p>

                        <div class="row">
                            <div class="col-12 padding-modifier">
                                <div class="row mb-10px align-items-center">
                                    <p class="col-6 col-sm-6 col-md-4 no-margin upload-heading">
                                        Resume *
                                        <span
                                            *ngIf="resumeUploaded || uploadResumeDropbox.valid"
                                            class="e-icon-ok valid-checkmark"></span>
                                    </p>

                                    <div class="col-6 col-sm-6 col-md-4 align-items-center upload-element">
                                        <label
                                            class="btn btn-upload btn-block no-margin"
                                            aria-label="Resume file upload"
                                            tabindex="12"
                                            [ngClass]="{ 'disabled': resumeDropboxLink.length > 1 }">

                                            <span class="e-icon-monitor upload-element-icon"></span>

                                            <span class="upload-element-text">UPLOAD</span>

                                            <input
                                                type="file"
                                                id="uploadResume"
                                                class="form-control d-none"
                                                ngModel=""
                                                [disabled]="resumeDropboxLink.length > 1"
                                                [required]="resumeDropboxLink.length < 1"
                                                name="uploadResume"
                                                #uploadResume="ngModel"
                                                (change)="handleFileInput($event.target.files, 'resume')">
                                        </label>
                                    </div>

                                    <div class="col-6 col-sm-6 col-md-4 align-items-center upload-element d-none-mobile">
                                        <label
                                            class="btn btn-upload btn-block no-margin"
                                            aria-label="Dropbox resume file upload"
                                            tabindex="13"
                                            [ngClass]="{ 'disabled': resumeUploaded }">

                                            <span class="e-icon-dropbox upload-element-icon"></span>

                                            <span class="upload-element-text">UPLOAD</span>

                                            <input
                                                type="text"
                                                id="uploadResumeDropbox"
                                                class="form-control d-none"
                                                [(ngModel)]="resumeDropboxLink"
                                                [disabled]="resumeUploaded"
                                                [required]="!resumeUploaded"
                                                name="uploadResumeDropbox"
                                                #uploadResumeDropbox="ngModel"
                                                (click)="chooseResume()">
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 padding-modifier">
                                <div class="row mb-10px align-items-center">
                                    <p class="col-6 col-sm-6 col-md-4 no-margin upload-heading">
                                        Portfolio
                                        <span
                                            *ngIf="portfolioUploaded || portfolioDropboxLink.length > 1"
                                            class="e-icon-ok valid-checkmark"></span>
                                    </p>

                                    <div class="col-6 col-sm-6 col-md-4 align-items-center upload-element">
                                        <label
                                            class="btn btn-upload btn-block no-margin"
                                            aria-label="Portfolio file upload"
                                            tabindex="14"
                                            [ngClass]="{ 'disabled': portfolioDropboxLink.length > 1 }">

                                            <span class="e-icon-monitor upload-element-icon"></span>

                                            <span class="upload-element-text">UPLOAD</span>

                                            <input
                                                type="file"
                                                id="uploadPortfolio"
                                                class="form-control d-none"
                                                ngModel=""
                                                name="uploadPortfolio"
                                                [disabled]="portfolioDropboxLink.length > 1"
                                                #uploadPortfolio="ngModel"
                                                (change)="handleFileInput($event.target.files, 'portfolio')">
                                        </label>
                                    </div>

                                    <div class="col-6 col-sm-6 col-md-4 align-items-center upload-element d-none-mobile">
                                        <label
                                            class="btn btn-upload btn-block no-margin"
                                            aria-label="Dropbox portfolio file upload"
                                            tabindex="15"
                                            [ngClass]="{ 'disabled': portfolioUploaded }">

                                            <span class="e-icon-dropbox upload-element-icon"></span>

                                            <span class="upload-element-text">UPLOAD</span>

                                            <input
                                                type="text"
                                                id="uploadPortfolioDropbox"
                                                class="form-control d-none"
                                                [(ngModel)]="portfolioDropboxLink"
                                                name="uploadPortfolioDropbox"
                                                [disabled]="portfolioUploaded"
                                                #uploadPortfolioDropbox="ngModel"
                                                (click)="choosePortfolio()">
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 padding-modifier">
                                <div class="row mb-10px align-items-center">
                                    <p class="col-6 col-sm-6 col-md-4 no-margin upload-heading">
                                        Photo
                                        <span
                                            *ngIf="photoUploaded || photoDropboxLink.length > 1"
                                            class="e-icon-ok valid-checkmark"></span>
                                    </p>

                                    <div class="col-6 col-sm-6 col-md-4 align-items-center upload-element">
                                        <label
                                            class="btn btn-upload btn-block no-margin"
                                            aria-label="Photo upload"
                                            tabindex="16"
                                            [ngClass]="{ 'disabled': photoDropboxLink.length > 1 }">

                                            <span class="e-icon-monitor upload-element-icon"></span>

                                            <span class="upload-element-text">UPLOAD</span>

                                            <input
                                                type="file"
                                                id="uploadPhoto"
                                                class="form-control d-none"
                                                ngModel=""
                                                name="uploadPhoto"
                                                [disabled]="photoDropboxLink.length > 1"
                                                #uploadPhoto="ngModel"
                                                (change)="handleFileInput($event.target.files, 'photo')">
                                        </label>
                                    </div>

                                    <div class="col-6 col-sm-6 col-md-4 align-items-center upload-element d-none-mobile">
                                        <label
                                            class="btn btn-upload btn-block no-margin"
                                            aria-label="Dropbox photo upload"
                                            tabindex="17"
                                            [ngClass]="{ 'disabled': photoUploaded }">

                                            <span class="e-icon-dropbox upload-element-icon"></span>

                                            <span class="upload-element-text">UPLOAD</span>

                                            <input
                                                type="text"
                                                id="uploadPhotoDropbox"
                                                class="form-control d-none"
                                                [(ngModel)]="photoDropboxLink"
                                                name="uploadPhotoDropbox"
                                                [disabled]="photoUploaded"
                                                #uploadPhotoDropbox="ngModel"
                                                (click)="choosePhoto()">
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="row align-items-center submit-area">

                    <p
                        *ngIf="(!personalData.valid && personalData.touched) ||
                        (!attachments.valid && attachments.touched)"
                        class="col-12 mb-20px error-text pre-submit-error">Please fill all the missing field(s) in the form to submit!</p>

                    <div class="col-12 col-md-6 back-to-description">
                        <div class="row">
                            <a class="cursor-pointer back-to-job-icon" routerLink="/">
                                < Back to job description
                            </a>
                        </div>
                    </div>

                    <div class="col-12 col-md-6">
                        <div class="row">
                            <div class="col-12">
                                <div class="row align-items-center">
                                    <div class="col-12 col-sm-4 col-md-4 mt-1">
                                        <input
                                            class="custom-checkbox"
                                            id="customCheckbox"
                                            type="checkbox"
                                            name="sendCopy"
                                            ngModel
                                            #sendCopy="ngModel">
                                        <label
                                            for="customCheckbox"
                                            class="custom-checkbox-label"
                                            tabindex="18"
                                            aria-label="Send me a copy">Send me a copy</label>
                                    </div>

                                    <div class="col-12 col-sm-8 col-md-8 submit-button-area">
                                        <input
                                            class="btn btn-upload col-12"
                                            type="submit"
                                            tabindex="19"
                                            value="APPLY FOR THIS JOB"
                                            aria-label="APPLY FOR THIS JOB"
                                            [disabled]="!f.valid" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </form>
        </div>
    </div>
</section>
