.job-application-area {
    background-color: #f7f7f7;
    .job-form {
        max-width: 948px;
        padding-top: 60px;
        padding-bottom: 60px;
        margin: 0 auto;
        h2 {
            font-size: 50px;
            margin-bottom: 60px;
        }
    }
}
