.job-application-area {
    background-color: #f7f7f7;
    .job-form {
        max-width: 948px;
        padding-top: 60px;
        padding-bottom: 60px;
        margin: 0 auto;
        h2 {
            font-size: 50px;
            margin-bottom: 60px;
        }
        .application-details {
            input, textarea {
                &.form-control {
                    border-radius: 0;
                    border: 1px solid #e9e9e9;
                    font-size: 13px;
                    color: #01385f;
                    font-weight: 700;
                    padding-right: 35px;
                    position: relative;
                    resize: none;
                    &:focus {
                        box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
                    }
                }
                &.ng-invalid.ng-touched {
                    border: 1px solid #c80000;
                    color: #c80000;
                }
                &::-webkit-input-placeholder {
                    color: #c1c1c1;
                }
                &::-moz-placeholder {
                    color: #c1c1c1;
                }
                &:-ms-input-placeholder {
                    color: #c1c1c1;
                }
                &:-moz-placeholder {
                    color: #c1c1c1;
                }
            }
            .valid-checkmark {
                position: absolute;
                top: 8px;
                right: 23px;
                color: #01385f;
            }
            .mb-10px {
                margin-bottom: 10px
            }
            .mb-20px {
                margin-bottom: 20px
            }
            .info-text {
                font-size: 16px;
                font-weight: 700;
            }
            .error-text {
                font-size: 13px;
                color: #c80000;
                margin-bottom: 0;
            }
            .pre-submit-error {
                text-align: right;
                margin-bottom: 20px;
            }
            .select-gender {
                &.ng-valid.ng-dirty {
                    color: #01385f;
                }
                &.ng-pristine.ng-touched {
                    border: 1px solid #c80000;
                }
            }
        }
        .back-to-description {
            a {
                color: #bebebe;
                font-size: 13px;
            }
        }
        .back-to-job-icon {
            padding-left: 15px;
        }
        .upload-area {
            p {
                font-size: 13px;
                font-weight: 700;
                position: relative;
                .valid-checkmark {
                    position: absolute;
                    top: 0;
                    right: 0;
                    color: #01385f;
                    font-size: 16px;
                }
            }
            .upload-heading {
                padding-left: 5px;
            }
            .padding-modifier {
                padding-left: 25px;
                padding-right: 25px;
            }
            .upload-element {
                padding-left: 5px;
                padding-right: 5px;
                .upload-element-icon {
                    margin-right: 5px;
                }
                .upload-element-text {
                    font-size: 13px;
                }
            }
        }
        .submit-area {
            margin-top: 40px;
            .custom-checkbox {
                position: absolute;
                opacity: 0;
                & + label {
                    position: relative;
                    cursor: pointer;
                    padding: 0;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                    &:before {
                        content: '';
                        margin-right: 10px;
                        display: block;
                        float: left;
                        vertical-align: text-top;
                        width: 17px;
                        height: 17px;
                        background: white;
                        border: 1px solid #cecece;
                    }
                }
                &:checked {
                    & + label:after {
                        content: '\e800';
                        display: inline-block;
                        position: absolute;
                        left: 3px;
                        top: 1px;
                        font-family: "fontello";
                        font-size: 11px;
                        text-align: center;
                        color: #656565;
                        font-style: normal;
                        font-weight: normal;
                        width: 1em;
                        margin-right: 5px;
                        speak: none;
                        text-decoration: inherit;
                    }
                }
            }
            .custom-checkbox-label {
                font-size: 13px;
                color: #666;
                padding-left: 5px;
            }
            .submit-button-area {
                padding-left: 10px;
                button {
                    font-size: 13px;
                }
            }
        }
        .custom-select {
            border-radius: 0;
            border: 1px solid #e9e9e9;
            font-size: 13px;
            color: #c1c1c1;
            font-weight: 700;
            padding: 0.375rem 0.75rem;
            position: relative;
            resize: none;
            display: block;
            width: 100%;
            height: calc(2.25rem + 2px);
            line-height: 1.5;
            background-color: #fff;
            background-clip: padding-box;
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
            text-align: left;
            &:after {
                border-top: 0.4em solid;
                float: right;
                margin-top: 6px;
            }
            &.focus, &:focus {
                box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
            }
            &:disabled {
                cursor: not-allowed;
            }
        }
        .btn-upload {
            color: #fff;
            background-color: #005c9d;
            border-color: #005c9d;
            border-radius: 0;
            &:hover, &:not(:disabled):not(.disabled):active, &:not(:disabled):not(.disabled).active {
                color: #fff;
                background-color: #054b7d;
                border-color: #054b7d;
            }
            &.focus, &:focus {
                box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.5);
            }
            &:disabled, &.disabled {
                cursor: not-allowed;
                opacity: 0.65;
            }
        }
        dp-date-picker {
            position: absolute !important;
        }
        dp-day-calendar {
            .dp-calendar-day {
                width: 35px;
                height: 35px;
                margin: 2px;
                font-size: 12px;
                transition: all 0.2s ease-in-out;
            }
            &.dp-material {
                .dp-calendar-wrapper {
                    border: 0;
                    border-top: 1px solid #d3d3d3;
                    padding: 5px;
                    .dp-weekdays {
                        display: none;
                    }
                }
                .dp-current-day {
                    border: 1px solid #024877;
                    background-color: #ececec;
                }
                .dp-selected {
                    background: #005da2 !important;
                }
            }
            dp-calendar-nav {
                .dp-nav-header {
                    font-size: 15px;
                    font-weight: 900;
                }
                .dp-calendar-nav-left::before, .dp-calendar-nav-right::before {
                    height: 10px;
                    width: 10px;
                }
                &.dp-material {
                    .dp-nav-header-btn {
                        width: auto;
                        padding: 8px;
                        height: auto;
                    }
                    .dp-calendar-nav-container {
                        height: 45px;
                        margin: 0 7px;
                        border: 0;
                    }
                    .dp-calendar-nav-left, .dp-calendar-nav-right {
                        padding: 15px;
                        &:hover {
                            background: rgba(0,0,0,.05);
                        }
                    }
                    .dp-calendar-nav-left {
                        &:before {
                            margin-left: -2px;
                        }
                    }
                    .dp-calendar-nav-right {
                        &:before {
                            margin-left: -6px;
                        }
                    }
                }
            }
        }
    }
}
