.header-area {
    min-height: 45px;
    background-color: #000;
    color: #fff;
    padding: 0 46px;
    .navbar-brand {
        margin-right: 3em;
        padding: 0;
        line-height: 1;
        font-family: "Yanone Kaffeesantz - Regular";
        font-size: 37px;
    }
    .navbar-nav {
        .nav-item {
            a.nav-link {
                color: #fff;
                font-size: 12px;
                padding-right: 0;
                padding-left: 0;
                margin: 0 20px;
                position: relative;
                &:after {
                    content: '';
                    position: absolute;
                    bottom: 4px;
                    width: 100%;
                    left: 0;
                    opacity: 0;
                    border-bottom: 3px solid #fff;
                    -webkit-transition: opacity ease-in-out 0.1s;
                    -moz-transition: opacity ease-in-out 0.1s;
                    -ms-transition: opacity ease-in-out 0.1s;
                    -o-transition: opacity ease-in-out 0.1s;
                    transition: opacity ease-in-out 0.1s;
                }
                &:hover:after {
                    opacity: 0.5;
                    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
                    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
                }
            }
            &.active {
                a.nav-link {
                    position: relative;
                    &:after {
                        content: '';
                        position: absolute;
                        width: 100%;
                        bottom: 4px;
                        left: 0;
                        border-bottom: 3px solid #fff;
                        opacity: 1;
                        -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
                        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
                    }
                }
            }
        }
    }
    .navbar-collapse {
        .form-inline {
            input.form-control {
                max-width: 310px;
                min-width: 250px;
                height: 29px;
                font-size: 12px;
                color: #8b8b8b;
                background-color: #fff;
                border: 0;
                border-radius: 0;
            }
        }
        .briefcase-area {
            position: relative;
            &:hover {
                color: #d3d3d3;
                &:after {
                    display: block;
                }
            }
            &:before {
                font-size: 16px;
            }
            .job-count {
                font-size: 11px;
            }
            &:after {
                display: none;
                content: attr(title);
                position: absolute;
                top: 100%;
                right: 50%;
                z-index: 1;
                padding: 5px 10px;
                background: #3a3a3a;
                box-shadow: 0 0px 5px 0px rgba(0, 0, 0, 0.35);
                color: #ffffff;
                font-size: 10px;
                white-space: nowrap;
                pointer-events: none;
                -webkit-transform: translateX(50%);
                -moz-transform: translateX(50%);
                -ms-transform: translateX(50%);
                -o-transform: translateX(50%);
                transform: translateX(50%);
            }
        }
    }
}
