<nav class="navbar navbar-expand-lg navbar-dark header-area">
    <article class="mobile-menu-area d-none container-fluid">
        <section class="col-12 mobile-menu-content d-flex align-items-center mb-2">
            <section class="hamburger-menu">
                <a
                    class="hamburger-trigger"
                    appDropdown
                    (click)="openNavigation()">
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
            </section>

            <a class="navbar-brand">
                LOGO
            </a>

            <a
                title="My Briefcase"
                class="briefcase-area e-icon-briefcase cursor-pointer">
                <sup class="job-count ml-1">1</sup>
            </a>
        </section>

        <form class="form-inline search-area col-12">
            <input
                class="form-control col-12"
                type="search"
                placeholder="SEARCH FOR JOBS BY KEYWORD"
                aria-label="Search">
        </form>
    </article>

    <a class="navbar-brand d-none-lgt-sm">
        LOGO
    </a>

    <div
        class="collapse navbar-collapse"
        id="navbarSupportedContent"
        [ngClass]="{'active': isNavActive}">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link cursor-pointer">HOME</a>
            </li>

            <li class="nav-item active">
                <a class="nav-link cursor-pointer">JOBS</a>
            </li>

            <li class="nav-item">
                <a class="nav-link cursor-pointer">ABOUT</a>
            </li>

            <li class="nav-item">
                <a class="nav-link cursor-pointer">DEPARTMENTS</a>
            </li>

            <li class="nav-item">
                <a class="nav-link cursor-pointer">CONTACT</a>
            </li>
        </ul>

        <form class="form-inline mr-5 my-lg-0 search-area">
            <input
                class="form-control mr-sm-2"
                type="search"
                placeholder="SEARCH FOR JOBS BY KEYWORD"
                aria-label="Search">
        </form>

        <a
            title="My Briefcase"
            class="briefcase-area e-icon-briefcase cursor-pointer">
            <sup class="job-count ml-1">1</sup>
        </a>
    </div>
</nav>
