<nav class="navbar navbar-expand-lg navbar-light header-area">
    <a class="navbar-brand">
        LOGO
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link cursor-pointer">HOME</a>
            </li>

            <li class="nav-item active">
                <a class="nav-link cursor-pointer">JOBS</a>
            </li>

            <li class="nav-item">
                <a class="nav-link cursor-pointer">ABOUT</a>
            </li>

            <li class="nav-item">
                <a class="nav-link cursor-pointer">DEPARTMENTS</a>
            </li>

            <li class="nav-item">
                <a class="nav-link cursor-pointer">CONTACT</a>
            </li>
        </ul>

        <form class="form-inline mr-5 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="SEARCH FOR JOBS BY KEYWORD" aria-label="Search">
        </form>

        <a title="My Briefcase" class="briefcase-area e-icon-briefcase cursor-pointer">
            <sup class="job-count ml-1">1</sup>
        </a>
    </div>
</nav>
