.no-padding {
    padding: 0;
}
.cursor-pointer {
    cursor: pointer;
}
.font-yanone-regular {
    font-family: "Yanone Kaffeesantz - Regular", Helvetica, Arial;
}
.font-yanone-bold {
    font-family: "Yanone Kaffeesantz - Bold", Helvetica, Arial;
}
.font-museo-sans {
    font-family: "Museo Sans 500", Helvetica, Arial;
}
